*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #DDD;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #546e7a;
}

body {
  overflow: hidden;
}

main {
  overflow: auto !important;
}

a[disabled] {
  pointer-events: none;
  cursor: default;
}

.tabs .tab a{
  color: #78909c;
}

.tabs .tab a:hover {
  background-color: #eceff1;
  color: #78909c;
}

.tabs .tab a.active {
  background-color: #cfd8dc;
  color: #78909c;
}

.tabs .indicator {
  background-color: #546e7a;
}
